.status-bubble{
    width: 15px  !important ;
    height: 15px  !important ; 
    border-radius: 50%; 
    display: inline-block;
}

.card-container{
    width: 250px; 
    height: 180px; 
    overflow: hidden;
}

.card-container-top{
    height: 100px; 
    background-color: #7F7E82; 
    position: relative;
}

.card-container-full{
    background-color: #7F7E82; 
    border-width: 0;
}

.card-empty{
    color: white;
}