<div class="ms-3 mb-3 d-flex justify-content-start align-items-center">
    <a (click)="navigateBack()" class="icon-back">
        <svg cIcon class="my-1 text-secondary" name="cilArrowCircleLeft" width="40"></svg>
    </a>
    <span class="text-secondary fs-3 ms-3">Detection Instances</span>
  </div>
  
  <toast-message [message]="toastMessage" [type]="toastType"></toast-message>

  <c-container>
    <c-row class="g-4">
      <c-col sm="6" xl="3" *ngFor="let detectionInstance of detectionInstanceList">
          <c-card class="card-container mb-3 p-0 shadow-sm" (click)="navigateToDetectionInstance(detectionInstance.id)">
            <div class="card-container-top position-relative">
              <div class="mt-2 d-flex align-items-center">
                <span class="ms-3 align-middle status-bubble"
                  [ngClass]="{'bg-success': detectionInstance?.isRunning, 'bg-danger': !detectionInstance?.isRunning}">
                </span>
                <span class="ms-2 text-white">
                  {{ detectionInstance?.isRunning ? 'Running' : 'Stopped' }}
                </span>
              </div>
            
              <button *ngIf="detectionInstance?.isRunning" cButton variant="outline"  color="light" class="position-absolute bottom-0 end-0 m-2" (click)="stopDetectionInstance(detectionInstance); $event.stopPropagation()">
                stop
              </button>
            </div>
  
            <!-- Card body -->
            <c-card-body>
              <h6 cCardTitle class="mb-0">{{detectionInstance.name}}</h6>
              <p cCardText>
                <small class="text-medium-emphasis">{{detectionInstance.detectionType?.id === 1 ? 'PPE Detection' : 'Pallet Detection'}}</small>
              </p>
            </c-card-body>
          </c-card>
      </c-col>
    
      <!-- Add new card -->
      <c-col sm="6" xl="3">
          <c-card class="mb-3 p-0 shadow-sm card-container card-container-full" (click)="navigateToAddDetectionInstance()">
            <c-card-body class="d-flex align-items-center justify-content-center card-empty">
              Create Detection Instance
            </c-card-body>
          </c-card>
      </c-col>
    </c-row>
  </c-container>
  
  