<c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast #toast="cToast" (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible"
      class="align-items-center"
      [class]="getToastClass()"
      >
      <div class="d-flex">
        <c-toast-body>
          <span>{{ message }}</span>
        </c-toast-body>
        <!-- <button aria-label="close" cButtonClose white class="me-2 m-auto" (click)="toast.visible=false"></button> -->
      </div>
    </c-toast>
</c-toaster>