<c-row class="g-4">
  <c-col sm="6" xl="3" *ngFor = "let zone of zonesList">
      <!-- <a [routerLink]="['plants', plantId, 'zone', zone.id]" style="text-decoration: none;"> -->
      <c-card style="background-color: pink;" (click)="onZoneSelect(zone.id)">
          <c-card-body>{{zone.name}}
                <c-dropdown alignment="end" variant="btn-group">
                  <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">
                    <svg cIcon name="cilOptions"></svg>
                  </button>
                  <ul cDropdownMenu>
                    <li><a [routerLink]="[]" cDropdownItem>Delete</a></li>
                  </ul>
                </c-dropdown>
          </c-card-body>
      </c-card>
      <!-- </a> -->
  </c-col>
  <c-col sm="6" xl="3">
      <a href="your-link-here" style="text-decoration: none;">
          <c-card style="background-color: pink; cursor: pointer;">
            <c-card-body>
              <i class="cil-plus"></i> Add plant
            </c-card-body>
          </c-card>
        </a>
  </c-col>
</c-row>
