<toast-message [message]="toastMessage" [type]="toastType"></toast-message>

<!-- Detection Instance Name -->
<c-card class="mb-3 mt-2 pb-3">
  <c-card-body>
    <c-container>
      <c-row class="mt-3 small-card__title">
        <h6>Detection Instance Name</h6>
      </c-row>
      <c-row class="mt-3">
        <form cForm class="p-0">
          <div>
            <input cFormControl placeholder="Type detection instance name" id="inputDetectionInstanceName" type="text"
              [(ngModel)]="detectionInstanceName" name="detectionInstanceName" required>
          </div>
          <small *ngIf="!detectionInstanceName" class="text-danger">Please enter a detection instance name.</small>
        </form>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>

<!-- Confidence Level -->
<c-card class="mb-3 pb-3">
  <c-card-body>
    <c-container>
      <c-row class="mt-3 small-card__title">
        <h6>Hazard Detection</h6>
      </c-row>
      <c-row class="mt-4 mb-2">
        <div>
          <form #numberForm="ngForm">
            <div class="mb-3">
              <label for="numberInput" class="form-label">Confidence Level</label>
              <div class="input-group confidence-input">
                <input id="numberInput" type="number" min="0" max="100" 
                  [(ngModel)]="confidenceThreshold" name="numberInput" required
                  class="form-control form-control-sm">
                <span class="input-group-text">%</span>
              </div>
              <small *ngIf="!confidenceThreshold || confidenceThreshold < 0 || confidenceThreshold > 100" class="text-danger">
                Please enter a valid confidence level between 0 and 100.
              </small>
            </div>
          </form>
        </div>
      </c-row>

      <!-- Detection Type -->
      <c-row>
        <p class="mb-1">Detection Type</p>
        <div class="d-flex flex-wrap">
          <c-form-check *ngFor="let type of detectionTypesList; let i = index" [class.ms-4]="i !== 0">
            <input cFormCheckInput type="radio" [value]="type.id" name="flexRadioDefault"
              [(ngModel)]="selectedDetectionType" required />
            <label cFormCheckLabel>{{ type.name }}</label>
          </c-form-check>
        </div>
        <small *ngIf="!selectedDetectionType" class="text-danger">Please select a detection type.</small>
      </c-row>

      <!-- PPE Detection (if applicable) -->
      <c-row class="mt-4" *ngIf="selectedDetectionType === 1">
        <p class="mb-1">PPE Detection</p>
        <div class="d-flex flex-wrap">
          <div class="container__multiselect">
            <ng-multiselect-dropdown class="multiselect-element" [placeholder]="'Select Objects'"
              [settings]="dropdownSettingsObjects" [data]="dropdownListObjects" [(ngModel)]="selectedItemsObjects">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </c-row>
      <small *ngIf="selectedItemsObjects.length === 0 && selectedDetectionType === 1" class="text-danger">
        Please add at least one object.
      </small>
    </c-container>
  </c-card-body>
</c-card>

<!-- Cameras -->
<c-card class="mb-4 pb-3">
  <c-card-body>
    <c-container>
      <c-row class="mt-3 small-card__title">
        <h6>Cameras</h6>
      </c-row>
      <c-row class="mt-4">
        <div *ngFor="let camera of zone?.cameras" class="d-flex align-items-center mb-2">
          <c-form-check [ngClass]="{'camera-disabled': !camera.status}">
            <input 
              cFormCheckInput 
              type="radio" 
              [value]="camera.id" 
              name="flexRadioDefaultCamera" 
              [(ngModel)]="selectedCameraId" 
              [disabled]="!camera.status" 
              required 
            />
            <label cFormCheckLabel>{{ camera.name }} - {{ camera.ipaddress }}</label>
            <span *ngIf="!camera.status" [ngClass]="{'camera-disabled': !camera.status}"> (in use)</span>
          </c-form-check>
        </div>
        <small *ngIf="!selectedCameraId" class="text-danger">Please select a camera.</small>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>

<!-- Buttons -->
<c-container class="d-flex justify-content-end align-items-center pe-0 mb-3">
  <button cButton color="secondary" variant="ghost" class="btn-cancel me-3" (click)="navigateBack()">Cancel</button>

  <button cButton color="primary" class="btn-add"
    [disabled]="!detectionInstanceName || !confidenceThreshold || confidenceThreshold < 0 || confidenceThreshold > 100 || !selectedDetectionType || !selectedCameraId || (selectedItemsObjects.length === 0 && selectedDetectionType===1)"
    (click)="addNewDetectionInstance()">Start Detection</button>
</c-container>
