.view-title{
    height: 52px;
}

.btn-add{
    background-color: #337059;
    border-color: #337059;
}

.btn-add:active, .btn-add:focus {
    background-color: #669A8C !important;  /* Green */
    border-color: #669A8C !important;      /* Green border */
    color: #fff;                           /* White text */
}


