.view-title{
    height: 52px;
}

.card-container{
    width: 250px; 
    height: 180px; 
    overflow: hidden;
}

.card-container-top{
    height: 100px; 
    background-color: #c1e899; 
    position: relative;
}

.card-container-full{
    background-color: #c1e899; 
    border-width: 0;
}

.confidence-input{
    width: 150px;
}

.card-link{
    text-decoration: none;
}