.view-title{
    height: 52px;
}

.card-container{
    width: 250px; 
    height: 180px; 
    overflow: hidden;
}

.card-link{
    text-decoration: none;
}

.card-container-top{
    height: 100px; 
    background-color: lightblue; 
    position: relative;
}