<div class="mb-3 d-flex justify-content-start align-items-center">
  <a (click)="navigateBack()" class="icon-back">
    <svg cIcon class="my-1 text-secondary" name="cilArrowCircleLeft" width="40"></svg>
  </a>
  <span class="text-secondary fs-3 ms-3">Dashboard Details</span>
</div>

<c-card class="mb-5 shadow">
  <!-- Header -->
  <c-card-header class="p-4">
    <c-container>
      <c-row class="mt-3 mb-3">
        <c-col>
          <h4 class="header__title p-0 fw-bolder">Dashboard {{plant?.name}}</h4>
        </c-col>
      </c-row>

    </c-container>
  </c-card-header>

  <!-- Card body -->
  <c-card-body>
    <div class="d-flex justify-content-end">
      <div class="d-flex align-items-center me-3">
        <select class="select-filter-zone" aria-label="Filter by zone" cSelect [(ngModel)]="selectedZone" (ngModelChange)="onZoneChange()">
          <option [ngValue]="null">All zones</option>
          <option *ngFor="let zone of zoneList" [value]="zone.id">
            {{ zone.title }}
          </option>
        </select>
      </div>     
      <div class="d-flex align-items-center me-4">
        <form [formGroup]="formRadio1">
          <c-button-group aria-label="Basic radio toggle button group" role="group">
            <input class="btn-check" formControlName="radio1" type="radio" value="Radio1" />
            <label (click)="setRadioValue('Radio1')" cButton cFormCheckLabel variant="outline">7 days</label>

            <input class="btn-check" formControlName="radio1" type="radio" value="Radio2" />
            <label (click)="setRadioValue('Radio2')" cButton cFormCheckLabel variant="outline">30 days</label>
          </c-button-group>
        </form>
      </div>
    </div>

    <c-nav variant="pills" class="m-4">
      <a [active]="true" [cTabContent]="tabContent" (click)="selectTab(0)" [routerLink] [tabPaneIdx]="0" cNavLink>PPE
        Detection</a>
      <a [cTabContent]="tabContent" (click)="selectTab(1)" [routerLink] [tabPaneIdx]="1" cNavLink>Pallet Detection</a>
      <a [cTabContent]="tabContent" (click)="selectTab(2)" [routerLink] [tabPaneIdx]="2" cNavLink>Forklift Detection</a>
    </c-nav>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane class="ps-4 pe-4">

        <!-- Card 1 -->

        <div *ngIf="!incidentsEmpty">
          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Incidents by type</h6>
                </c-row>
                <c-row class="mt-3 small-card__text">
                  <c-chart [data]="chartsDataDonut?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                    [options]="chartsDataDonut?.options" [type]="'doughnut'"
                    (chartRef)="handleChartRefDounut($event)" />
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>

          <!-- Card 2 -->
          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Incidents Timeline</h6>
                </c-row>
                <c-row class="mt-3 small-card__text">
                  <c-chart [data]="chartsData?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                    [options]="chartsData?.options" [type]="'line'" (chartRef)="handleChartRef($event)">
                    Timeline chart
                  </c-chart>
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>
        </div>
        <div *ngIf="incidentsEmpty">
          <p>No data available for PPE incidents.</p>
        </div>


      </c-tab-pane>
      <c-tab-pane class="ps-4 pe-4">

        <div *ngIf="!incidentsEmpty">
          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Nr. of incidents in the last {{ days }} days</h6>
                </c-row>
                <c-row class="mt-3 small-card__text ps-4">
                  {{ incidentReport?.incidents_by_type?.[0]?.count ?? 'N/A' }}
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>

          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Incidents Timeline</h6>
                </c-row>
                <c-row class="mt-3 small-card__text">
                  <c-chart [data]="chartsData?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                    [options]="chartsData?.options" [type]="'line'" (chartRef)="handleChartRef($event)">
                    Timeline chart
                  </c-chart>
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>
        </div>
        <div *ngIf="incidentsEmpty">
          <p>No data available for Pallet incidents.</p>
        </div>
      </c-tab-pane>

      <c-tab-pane class="ps-4 pe-4">
        <div *ngIf="!incidentsEmpty">
          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Nr. of incidents in the last {{ days }} days</h6>
                </c-row>
                <c-row class="mt-3 small-card__text ps-4">
                  {{ incidentReport?.incidents_by_type?.[0]?.count ?? 'N/A' }}
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>

          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Incidents Timeline</h6>
                </c-row>
                <c-row class="mt-3 small-card__text">
                  <c-chart [data]="chartsData?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                    [options]="chartsData?.options" [type]="'line'" (chartRef)="handleChartRef($event)">
                    Timeline chart
                  </c-chart>
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>

        </div>
        <div *ngIf="incidentsEmpty">
          <p>No data available for Forklift incidents.</p>
        </div>

      </c-tab-pane>
    </c-tab-content>

  </c-card-body>
</c-card>