.small-card__title{
    border-bottom: 1px solid #d8d9d9;
}


.small-card__subtitle{
    font-weight: 600;
    font-size: 15px;
}

.card-timeline-list{
    height: 400px;
}

.card-timeline-sub-list{
    height: 270px; 
    overflow-y: auto;
}