<div class="mb-3 d-flex justify-content-start align-items-center">
  <a (click)="navigateBack()" class="icon-back">
    <svg cIcon class="my-1 text-secondary" name="cilArrowCircleLeft" width="40"></svg>
  </a>
  <span class="text-secondary fs-3 ms-3">Dashboard Details</span>
</div>

<c-card class="mb-5 shadow">
  <!-- Header -->
  <c-card-header class="p-4">
    <c-container>
      <c-row class="mt-3 mb-3">
        <c-col><h4 class="header__title p-0 fw-bolder">Dashboard {{plant?.name}}</h4></c-col>
      </c-row>
      
    </c-container>
  </c-card-header>

  <!-- Card body -->
  <c-card-body>
    <div class="d-flex justify-content-end">
      <div class="d-flex align-items-center me-3">
        <select class="select-filter-zone" aria-label="Filter by zone" cSelect [(ngModel)]="selectedZone">
          <option value=0>All zones</option>
          <option *ngFor="let zone of zoneList" [value]="zone.id">
            {{ zone.title }}
          </option>
        </select>
      </div>
      <div class="d-flex align-items-center me-4">
        <form [formGroup]="formRadio1">
          <c-button-group aria-label="Basic radio toggle button group" role="group">
            <input class="btn-check" formControlName="radio1" type="radio" value="Radio1" />
            <label (click)="setRadioValue('Radio1')" cButton cFormCheckLabel variant="outline">7 days</label>
        
            <input class="btn-check" formControlName="radio1" type="radio" value="Radio2" />
            <label (click)="setRadioValue('Radio2')" cButton cFormCheckLabel variant="outline">30 days</label>
          </c-button-group>
        </form>
      </div>
    </div>

    <c-nav variant="pills" class="m-4">
      <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>PPE Detection</a>
      <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Pallet Detection</a>
      <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>Forklift Detection</a>
    </c-nav>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane class="ps-4 pe-4">

        <!-- Card 1 -->
        <c-card class="mb-3 mt-2 pb-2">
          <c-card-body>
            <c-container>
              <c-row class="mt-3 small-card__title">
                <h6>Incidents by type</h6>
              </c-row>
              <c-row class="mt-3 small-card__text">
                <c-chart [data]="chartsDataDonut?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                  [options]="chartsDataDonut?.options" [type]="chartsDataDonut?.type"
                  (chartRef)="handleChartRefDounut($event)" />
              </c-row>
            </c-container>
          </c-card-body>
        </c-card>

        <!-- Card 2 -->
        <c-card class="mb-3 mt-2 pb-2">
          <c-card-body>
            <c-container>
              <c-row class="mt-3 small-card__title">
                <h6>Incidents Timeline</h6>
              </c-row>
              <c-row class="mt-3 small-card__text">
                <c-chart [data]="chartsData?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                  [options]="chartsData?.options" [type]="chartsData?.type" (chartRef)="handleChartRef($event)">
                  Timeline chart
                </c-chart>
              </c-row>
            </c-container>
          </c-card-body>
        </c-card>

        <!-- Card 3 -->
        <!-- <c-card class="mb-3 pb-2 card-timeline-list">
          <c-card-body>
            <c-container>
              <c-row class="mt-3 small-card__title">
                <h6>Incidents timeline details</h6>
              </c-row>
              <c-row>
                <c-container>
                  <c-row class="mt-3 mb-2 small-card__subtitle">
                    <c-col class="d-flex justify-content-center align-items-center">Object</c-col>
                    <c-col class="d-flex justify-content-center align-items-center">Timestamp</c-col>
                    <c-col class="d-flex justify-content-center align-items-center">Detection instance</c-col>
                  </c-row>
                </c-container>
              </c-row>
              <c-row class="pb-3">
                <c-container class="card-timeline-sub-list">
                  <c-row *ngFor="let incident of paginatedIncidents" class="align-items-center">
                    <c-col class="d-flex justify-content-center align-items-center">{{ incident.className }}</c-col>
                    <c-col class="d-flex justify-content-center align-items-center">{{ incident.timestamp }}</c-col>
                    <c-col class="d-flex justify-content-center align-items-center">{{ incident.detectionInstanceId
                      }}</c-col>
                  </c-row>
                </c-container>
              </c-row>
            </c-container>
          </c-card-body>
        </c-card> -->


      </c-tab-pane>
      <c-tab-pane class="ps-4 pe-4">
        This is some placeholder content the <strong>Profile</strong> tab's associated content. Clicking another
        tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
        content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
      </c-tab-pane>
      <c-tab-pane class="ps-4 pe-4">
        This is some placeholder content the <strong>Contact</strong> tab's associated content. Clicking another
        tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
        content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
      </c-tab-pane>
    </c-tab-content>








  </c-card-body>
</c-card>