<div class="mb-3 d-flex justify-content-start align-items-center">
  <a (click)="navigateBack()" class="icon-back">
    <svg cIcon class="my-1 text-secondary" name="cilArrowCircleLeft" width="40"></svg>
  </a>
  <span class="text-secondary fs-3 ms-3">Dashboard Details</span>
</div>

<c-card class="mb-5 shadow">
  <!-- Header -->
  <c-card-header class="p-4">
    <c-container>
      <c-row class="mt-3 mb-3">
        <c-col>
          <h4 class="header__title p-0 fw-bolder">Dashboard {{plant?.name}}</h4>
        </c-col>
      </c-row>

    </c-container>
  </c-card-header>

  <!-- Card body -->
  <c-card-body>
    <div class="row justify-content-md-end justify-content-center">
      <!-- Zone Filter -->
      <div class="col-md-auto col-12 d-flex align-items-center justify-content-center justify-content-md-start me-md-3">
        <select class="select-filter-zone" aria-label="Filter by zone" cSelect [(ngModel)]="selectedZone"
          (ngModelChange)="onZoneChange()">
          <option [ngValue]="null">All zones</option>
          <option *ngFor="let zone of zoneList" [value]="zone.id">
            {{ zone.title }}
          </option>
        </select>
      </div>

      <!-- Radio Buttons -->
      <div class="col-md-auto col-12 d-flex align-items-center justify-content-center mt-3 mt-md-0 me-md-4">
        <form [formGroup]="formRadio1">
          <c-button-group aria-label="Basic radio toggle button group" role="group">
            <!-- Last Day option -->
            <input class="btn-check" formControlName="radio1" type="radio" value="Radio3" />
            <label (click)="setRadioValue('Radio3')" cButton cFormCheckLabel variant="outline">2 days</label>

            <!-- 7 Days option -->
            <input class="btn-check" formControlName="radio1" type="radio" value="Radio1" />
            <label (click)="setRadioValue('Radio1')" cButton cFormCheckLabel variant="outline">7 days</label>

            <!-- 30 Days option -->
            <input class="btn-check" formControlName="radio1" type="radio" value="Radio2" />
            <label (click)="setRadioValue('Radio2')" cButton cFormCheckLabel variant="outline">30 days</label>
          </c-button-group>
        </form>
      </div>
    </div>



    <c-nav variant="pills" class="m-4">
      <a *ngFor="let type of detectionTypes" [active]="(type.id - 1) === 0" [cTabContent]="tabContent"
        (click)="selectTab(type.id - 1)" [tabPaneIdx]="(type.id - 1)" cNavLink>
        {{ type.name }}
      </a>
    </c-nav>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane *ngFor="let type of detectionTypes; let i = index" class="ps-4 pe-4">

        <!-- Card 1 -->
        <div *ngIf="!incidentsEmpty">
          <c-card *ngIf="type.id === 1" class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Incidents by type</h6>
                </c-row>
                <c-row class="mt-3 small-card__text">
                  <c-chart [data]="chartsDataDonut?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                    [options]="chartsDataDonut?.options" [type]="'doughnut'" (chartRef)="handleChartRefDounut($event)">
                  </c-chart>
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>

          <!-- Card 2: Incidents Timeline -->
          <c-card class="mb-3 mt-2 pb-2">
            <c-card-body>
              <c-container>
                <c-row class="mt-3 small-card__title">
                  <h6>Incidents Timeline</h6>
                </c-row>
                <c-row class="mt-3 small-card__text">
                  <c-chart [data]="chartsData?.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }"
                    [options]="chartsData?.options" [type]="'line'" (chartRef)="handleChartRef($event)">
                  </c-chart>
                </c-row>
              </c-container>
            </c-card-body>
          </c-card>

          <div class="d-flex justify-content-center mt-4 mb-3">
            <button cButton color="primary" class="btn-details" [disabled]="false" (click)="checkDetailsIncidents()">
              See Details
            </button>
          </div>
        </div>

        <div *ngIf="incidentsEmpty">
          <p>No data available for {{ type.name }} incidents.</p>
        </div>

      </c-tab-pane>
    </c-tab-content>

  </c-card-body>
</c-card>

<incidents-details [visibleModal]="visibleModalDetails" [incidentsList]="incidentReport?.incidents_details"
  (visibleModalChange)="visibleModalDetails = $event">
</incidents-details>