.card-container{
    width: 250px; 
    height: 180px; 
    overflow: hidden;
}

.card-container-top{
    height: 100px; 
    position: relative;
}

.card-container-full{
    border-width: 0;
}

.confidence-input{
    width: 150px;
}

.card-link{
    text-decoration: none;
}

.card-empty{
    color: white;
}