<c-container>
    <c-row class="g-4">
      <c-col sm="6" xl="3" *ngFor="let card of cardList">
        <!-- <a [routerLink]="[routeParameter, card.id]" class="card-link"> -->
          <c-card class="mb-3 p-0 shadow-sm card-container" (click)="onCardClick(card.id)">
            <div class="card-container-top position-relative"  [ngStyle]="{ 'background-color': topContainerColor }">
              <div class="ms-2 mb-2 d-flex align-items-center position-absolute bottom-0 start-0" *ngIf="messageTop!==''">
                <span class="ms-2 text-white">
                  {{ messageTop }}
                </span>
              </div>

              <c-dropdown alignment="end" variant="btn-group" class="position-absolute top-0 end-0 m-2"  *ngIf="dropdownOptions && dropdownOptions.length > 0">
                <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent" aria-label="Open dropdown"
                  (click)="$event.stopPropagation()">
                  <svg cIcon name="cilOptions"></svg>
                </button>
                <ul cDropdownMenu class="shadow">
                  <li *ngFor="let option of dropdownOptions">
                    <a [routerLink]="" cDropdownItem (click)="onDropdownOptionClick(card.id, option.action); $event.stopPropagation()">
                      {{option.label}}
                    </a>
                  </li>
                </ul>
              </c-dropdown>
            </div>
            <c-card-body>
              <h6 cCardTitle class="mb-0">{{card.name}}</h6>
              <p cCardText>
                <small class="text-medium-emphasis">{{card.description}}</small>
              </p>
            </c-card-body>
          </c-card>
        <!-- </a> -->
      </c-col>
  
      <!-- Add new card -->
      <c-col sm="6" xl="3"  *ngIf="showEmptyCard">
        <c-card 
          type="button"
          class="mb-3 p-0 shadow-sm card-container card-container-full"
          [ngStyle]="{ 'background-color': topContainerColor }"
          (click)="onEmptyCardClick()">
          <c-card-body class="d-flex align-items-center justify-content-center card-empty">
            {{emptyCardText}}
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
</c-container>