<div class="mb-3 d-flex justify-content-start align-items-center">
    <a (click)="navigateBack()" class="icon-back">
        <svg cIcon class="my-1 text-secondary" name="cilArrowCircleLeft" width="40"></svg>
    </a>
    <span class="text-secondary fs-3 ms-3">Detection Instance Details</span>
</div>

<c-card class="mb-5 shadow">
    <!-- Header -->
    <c-card-header>
        <c-container>
            <c-row>
                <c-col class="ps-4" sm="10" xs="8">
                    <c-container>
                        <c-row class="mt-4">
                            <h4 class="header__title p-0 fw-bolder">{{detectionInstance?.name}}</h4>
                        </c-row>
                        <c-row class="mb-4 header_subtitle">
                            <div class="d-flex align-items-center p-0">
                                <span class="text-medium-emphasis">Status: </span>
                                <span class="ms-2 align-middle status-bubble"
                                    [ngClass]="{'bg-success': detectionInstance?.isRunning, 'bg-danger': !detectionInstance?.isRunning}"></span>
                                
                                <span class="ms-1 text-medium-emphasis">{{ detectionInstance?.isRunning ? 'Running' : 'Paused' }}</span>
                            </div>
                        </c-row>
                        
                    </c-container>
                </c-col>
                <c-col sm="2" xs="4" class="d-flex justify-content-center align-items-center">
                    <button cButton color="danger" variant="outline">Stop</button>
                </c-col>
            </c-row>

        </c-container>
    </c-card-header>

    <!-- Card body -->
    <c-card-body>
        <!-- Card 1 -->
        <c-card class="mb-3 mt-2">
            <c-card-body>
                <c-container>
                    <c-row class="mt-3 small-card__title">
                        <h6>Zone</h6>
                    </c-row>
                    <c-row class="mt-3 small-card__text">
                        <p class="mb-0">{{detectionInstance?.zone?.title}}</p>
                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>

        <!-- Card 2 -->
        <c-card class="mb-3 mt-2">
            <c-card-body>
                <c-container>
                    <c-row class="mt-3 small-card__title">
                        <h6>Assignee</h6>
                    </c-row>
                    <c-row class="mt-3 small-card__text">
                        <p class="mb-0">{{detectionInstance?.assignee?.name}}</p>
                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>

        <!-- Card 3 -->
        <c-card class="mb-3">
            <c-card-body>
                <c-container>
                    <c-row class="mt-3 small-card__title">
                        <h6>Hazard detection</h6>
                    </c-row>
                    <c-row class="mt-4 mb-2">
                        <p>Detection Type: {{ detectionInstance?.detectionType?.id === 1 ? 'PPE Detection' : 'Pallet Detection'}} </p>
                    </c-row>
                    <c-row class="mt-4 mb-2">
                       <p>Confidence Level: {{detectionInstance?.confidenceTheshold}} </p>
                    </c-row>
                    <c-row class="mb-2" *ngIf="detectionInstance?.detectionType?.id === 1">
                        <p class="mb-1">PPE Detected</p>
                        <div class="d-flex flex-wrap">
                            <c-badge *ngFor="let class of detectionInstance?.classesDetection" color="primary"
                                class="me-2 small-card__badge">{{class.name}}</c-badge>
                        </div>
                    </c-row>
                    <c-row>

                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>

        <!-- Card 4 -->
        <c-card class = "mb-4">
            <c-card-body>
                <c-container>
                    <c-row class="mt-3 small-card__title">
                        <h6>Cameras</h6>
                    </c-row>
                    <c-row>
                        <c-container>
                            <c-row class="mt-3 mb-2 small-card__subtitle">
                                <c-col class="d-flex justify-content-center align-items-center">Name</c-col>
                                <c-col class="d-flex justify-content-center align-items-center">IP Address</c-col>
                                <c-col class="d-flex justify-content-center align-items-center">Status</c-col>
                                <!-- <c-col class="d-flex justify-content-center align-items-center">Action</c-col> -->
                            </c-row>
                        </c-container>
                    </c-row>
                    <c-row>
                        <c-container>
                            <!-- <c-row *ngFor="let camera of detectionInstance?.listCameras" class="align-items-center"> -->
                            <c-row class="align-items-center">
                                <c-col class="d-flex justify-content-center align-items-center">{{detectionInstance?.camera?.name}}</c-col>
                                <c-col class="d-flex justify-content-center align-items-center">{{detectionInstance?.camera?.ipaddress}}</c-col>
                                <c-col class="d-flex justify-content-center align-items-center">Recording</c-col>
                                <!-- <c-col class="d-flex justify-content-center align-items-center"><button cButton color="danger" variant="ghost" class="btn-sm">Stop</button></c-col> -->
                            </c-row>
                        </c-container>
                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>
    </c-card-body>
</c-card>