.small-card__title{
    border-bottom: 1px solid #d8d9d9;
}

.small-card__text{
    font-size: 20px;
}

.small-card__badge{
    font-size: 15px;
    background-color: #337059;
}

.small-card__subtitle{
    font-weight: 600;
    font-size: 15px;
}

.status-bubble{
    padding: 0 !important;
    width: 10px  !important ;
    height: 10px  !important ; 
    border-radius: 50%; 
    display: inline-block;
    margin: 0;
}


